html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
   width: 15%;
    background-color: rgb(231, 207, 185);
    padding: 50px 10px 0px;

}
.header {
    background-color: rgb(249, 235, 224);
    min-height: 100px;
}
.content {
    background-color: white;
    min-height: 600px;
    padding: 20px;
}
.footer {
    background-color: rgb(249, 235, 224);
    min-height: 150px;
    padding: 10px;
}